body {
    margin: 0;
}

.container {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 40% 20% 40%;
    grid-template-rows: 20% 80%;
}

.header {
    background: gray;
    grid-area: 1/1/2/4;
    padding: 0px 25% 0px 25%;
}

.text-with-icon {
    background: turquoise;
}

.image-container {
    background: yellow;
}

.content {
    font-family: Helvetica, sans-serif;
    font-weight: 100;
    color: white;
}